article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#mapid { height: 500px; width: 1000px; margin-bottom: 5%;}

body {
	background-color: #fff;
	/*background-color: #412234;*/
	/*background-color: #77B6EA;*/
}

header {
	height: 100vh;
	text-align: center;
}
.headerTitle {
	border: 4px solid #412234;
	border-radius: 50px;
	padding: 5%;
	margin-top: 3%;
}

header p {
	font-size: 1.5rem;
}

header p span {
	font-size: 0.8rem;
}

.container {
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Sintony', sans-serif;
	color: #412234;
	/*color: #fff;*/
}

.content {
	height: 100vh;
}

 a {
	transition: color 0.5s;
}
 a:hover {
	color: #77B6EA;
}

.jamMap {
	margin: 3% auto;
	border-radius: 50px;
	border: 4px solid #412234;
	/*overflow: hidden;*/
	z-index: 0;
}

h1 {
	text-align: center;
	font-size: 7rem;
	letter-spacing: 0.3rem;
	margin-top: 2%;

}

h2 {
	text-align: center;
	 /*transition: opacity 2s ease-in;*/
	 
}

header h2 {
	text-align: center;
	 /*transition: opacity 2s ease-in;*/
	  /*animation: fadein 2s;*/
	  font-size: 3rem;
	  letter-spacing: 0.3rem;
	  /*margin-top: 10%;*/
}

i.fa-arrow-down{
	margin-top: 5%;
	 -webkit-animation-duration: 1.2s;
	 -webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: infinite;
}

.fa:before {
	font-size: 3rem;
}

.fade {
	 animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


h3 {
	text-align: center;
}

p {
	text-align: center;
	margin: 0;
	margin-bottom: 1%;
}

a {
	text-decoration: none;
	color: #77B6EA;
	color: #412234;
	font-style: italic;
}

span {
	/*font-weight: bold;*/
}

#overlay {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #412234;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.7;
    z-index: 10;
    color: white;
}

#overlay div {
	margin-top: 30%;
}

.hoverCountry {
	font-weight: bold;
}

.trackName {
	font-style: italic;
	color: #2E4052;
	color: #DB2B39;
	color: #29335C;
	color: #77B6EA;
	/*color: #412234;*/
}

.artistName {
	font-style: italic;
	color: #2E4052;
	color: #DB2B39;
	color: #29335C;
	color: #77B6EA;
	/*color: #412234;*/
}

.trackInfo {
	padding: 6px 8px;
	font: 14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.trackInfo {
	margin: 0 0 5px;
	color: #777;
}

.hidden {
	display:none;
}